# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

pool:
  vmimage: 'windows-2019'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  debug: true

steps:
 - script: dotnet restore 
 - script: dotnet build -c $(buildconfiguration)
#  - task: DotNetCoreCLI@2
#    inputs:
#      command: 'pack'
#      packagesToPack: 'Octokit.GraphQL.Core/Octokit.GraphQL.Core.csproj'
#      versioningScheme: 'off'
 - script: dotnet pack Octokit.GraphQL.Pack/Octokit.GraphQL.Pack.csproj --output $(Build.ArtifactStagingDirectory)
 - task: DotNetCoreCLI@2
   inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'DevSupportServices'
 - task: PublishBuildArtifacts@1
   inputs:
     PathtoPublish: '$(Build.ArtifactStagingDirectory)'
     ArtifactName: 'drop'
     publishLocation: 'Container'
 - task: PublishBuildArtifacts@1
   inputs:
     PathtoPublish: '$(Build.SourcesDirectory)'
     ArtifactName: 'dropS'
     publishLocation: 'Container'

